:root {
    --background: black;
    --rankBackground: gray;
    --rankText: white;
    --eliminatedColor: red;
    --rejoiningColor: lime;
    --font: 500 36px "Cooper Hewitt";
    --statusTagFont: bold italic 36px "Cooper Hewitt";
    --boardHeight: 720px;
    --boardWidth: 1280px;
    --barHeight: 40px;
    --rankWidth: 160px;
    --rankPadding: 40px;
    --boardPadding: 10px;
    --maxBarWidth: 800px;
    --barGap: 2px;
}

/* Cooper Hewitt font-face declarations */
@font-face {
    font-family: 'Cooper Hewitt';
    font-weight: 200;
    src: url('../CooperHewitt-Thin.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-style: italic;
    font-weight: 200;
    src: url('../CooperHewitt-ThinItalic.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-weight: 300;
    src: url('../CooperHewitt-Light.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-style: italic;
    font-weight: 300;
    src: url('../CooperHewitt-LightItalic.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-weight: 400;
    src: url('../CooperHewitt-Book.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-style: italic;
    font-weight: 400;
    src: url('../CooperHewitt-BookItalic.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-weight: 500;
    src: url('../CooperHewitt-Medium.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-style: italic;
    font-weight: 500;
    src: url('../CooperHewitt-MediumItalic.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-weight: 600;
    src: url('../CooperHewitt-Semibold.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-style: italic;
    font-weight: 600;
    src: url('../CooperHewitt-SemiboldItalic.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-weight: 700;
    src: url('../CooperHewitt-Bold.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-style: italic;
    font-weight: 700;
    src: url('../CooperHewitt-BoldItalic.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-weight: 800;
    src: url('../CooperHewitt-Heavy.ttf');
}
@font-face {
    font-family: 'Cooper Hewitt';
    font-style: italic;
    font-weight: 800;
    src: url('../CooperHewitt-HeavyItalic.ttf');
}

*, ::before, ::after {
    box-sizing: border-box;
}

.board {
    background-color: #000000;
    height: var(--boardHeight);
    width: var(--boardWidth);
    font: var(--font);
    display: flex;
    align-items: stretch;
    margin-bottom: 1rem;
    overflow: hidden;
    .ranks, .bars {
        display: flex;
        gap: var(--barGap);
        flex-direction: column;
        justify-content: center;
    }
    .ranks {
        background: var(--rankBackground);
        width: var(--rankWidth);
        padding-inline-end: var(--rankPadding);
        text-align: right;
        color: var(--rankText);
        .rank {
            height: var(--barHeight);
        }
    }
    .bars {
        background: var(--background);
        padding: var(--boardPadding);
        padding-left: 0;
        flex: 1;
        .bar {
            height: var(--barHeight);
            position: relative;
            top: 0;
            display: inline-flex;
            .bar-inner {
                width: 0;
                text-align: right;
                position: relative;
                height: var(--barHeight);
                display: inline-flex;
                .points {
                    position: absolute;
                    right: 3px;
                }
            }
            .name {
                display: inline-block;
                padding: 0 5px;
            }
            .tag {
                font: var(--statusTagFont);
                padding: 0 2px 0 20px;
                display: none;
                &.show {
                    display: inline-block;
                }
            }
            .eliminated {
                color: var(--eliminatedColor);
            }
            .rejoining {
                color: var(--rejoiningColor);
            }
        }
    }
}